{% extends 'base.html'%} {% load static%} {% load humanize%} {% block title%} | Welcome{% endblock%} {% block content%}
  <!-- Showcase -->
  <section id="showcase">
    <div class="container text-center">
      <div class="home-search p-4">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Я ищу...">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">State</label>
                  <select name="category" class="form-control">
                    <option selected="true" disabled="disabled">Категория</option>
                    {% for category in categories %}
                      <option value="{{ category.id }}">{{category.title}}</option>
                    {% endfor %}
                  </select>
                </div>

                <button class="btn btn-secondary btn-block col-md-4 mb-3" type="submit">Поиск</button>
              </div>
            </form>
      </div>
    </div>
  </section>

<!--  <section>-->
<!--    <div class="container">-->
<!--      <ul class="cat-el">-->
<!--        {% for cat in categories%}-->
<!--        <li>-->
<!--          <a href="#">-->
<!--            <img src="{{cat.img.url}}" alt="" width="80" height="80">-->
<!--            <p>{{cat.title}}</p>-->
<!--          </a>-->
<!--        </li>-->
<!--        {% endfor%}-->
<!--      </ul>-->
<!--    </div>-->
<!--  </section>-->

  <!--Alerts-->
  {% include 'partials/_alerts.html'%}
  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Последние обьяевления</h3>
      <div class="row">
        {% if listings %}
          {% for listing in listings%}
        <!-- Listing 1 -->
            <div class="col-md-6 col-lg-3 mb-4">
              <div class="card listing-preview">
                <img class="card-img-top" src="{{listing.photo_main.url}}" alt="">
                <div class="card-img-overlay">
                  <h2>
                    <span class="badge badge-secondary text-white">{{ listing.price | intcomma }}</span>
                  </h2>
                </div>
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary">{{ listing.title}}</h4>
                    <p>
                      <i class="fas fa-map-marker text-secondary"></i> {{listing.address}}</p>
                  </div>
                  <hr>
                  <div class="row text-secondary pb-2">
                    <div class="col-12 text-center">
                      <i class="fas fa-clock"></i> {{ listing.list_date | timesince}}</div>
                  </div>
                  <hr>
                  <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">Больше информации</a>
                </div>
              </div>
            </div>
          {% endfor%}
        {% else %}
        <div class="col-md-12">
          <p>No Listings here</p>
        </div>
        {% endif %}

      </div>
    </div>
  </section>

<!--  <section id="services" class="py-5 bg-secondary text-white">-->
<!--    <div class="container">-->
<!--      <div class="row text-center">-->
<!--        <div class="col-md-4">-->
<!--          <i class="fas fa-comment fa-4x mr-4"></i>-->
<!--          <hr>-->
<!--          <h3>Consulting Services</h3>-->
<!--          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur-->
<!--            hic dignissimos ratione ea quae.</p>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--          <i class="fas fa-home fa-4x mr-4"></i>-->
<!--          <hr>-->
<!--          <h3>Propery Management</h3>-->
<!--          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur-->
<!--            hic dignissimos ratione ea quae.</p>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--          <i class="fas fa-suitcase fa-4x mr-4"></i>-->
<!--          <hr>-->
<!--          <h3>Renting & Selling</h3>-->
<!--          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur-->
<!--            hic dignissimos ratione ea quae.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
{% endblock%}